/*
pink: #F2637E
green: #20290C
beige: #D9C8B4
brown: #A66C4B, #BD7B55
orange: #F29E6D
*/

body {
    background-color: #BD7B55;
    padding: 0 36px 36px 24px
}

a{
    color: #F0D9C7;
    font-weight: bold;
}

a:hover {
    color: #F2637E;
}

h1, h2 {
    color: #20290C;
    font-weight: bold;
}

h1 {
    text-align: center;
}

p.picture {
    text-align: center;
}

p, li, table {
    font-size: 1.2em;
}

th, td {
    border: #F0D9C7 solid 3px;
    padding: 8px;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}




